# Indica que este es el archivo principal de configuración.
root = true

# Reglas para todos los archivos.
[*]

# Codificación UTF-8.
charset = utf-8

# Usa espacios en lugar de tabulaciones.
indent_style = space

# Cada nivel de indentación usa 4 espacios.
indent_size = 4

# Agrega una línea en blanco al final de cada archivo.
insert_final_newline = true

# Elimina espacios innecesarios al final de las líneas.
trim_trailing_whitespace = true

# Los archivos JSON suelen usar 2 espacios.
[*.json]
indent_size = 2
